$header_color: #232831;
$mobileMenu_color: #2d3441;
$logout_color: #f1a20a;
$divider_color: #e1e4e9;
$subDivider_color: #687792;
$menu_dark_color: #ffffff;
$color_toggle_dark_slider: #8dbaff;
$color_toggle_dark_bar: #0b6cff;
$color_toggle_light_slider: #b8bfcd;
$color_toggle_light_bar: #687792;
